.main{
    display: flex;
    flex-flow: row wrap;font-family:'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
}
.header{
    background-color: rgb(187, 180, 180);
    height: 12vh;
    width:100%;
    margin-bottom: 12px;
}
.red{
    background-color: red;
    height: 35vh;
    width: 80%;
}
.orange{
    background-color: orange;
    height: 35vh;
    width: 80%;
}
.yellow{
    background-color: yellow;
    height: 70vh;
    width: 20%;
    margin-top:-35vh;
}
.footer{
    background-color: rgb(187, 180, 180);
    height: 12vh;
    width:100%;
    margin-top: 12px;
}

@media (max-width:768px){
    .main{
        flex-direction: column;
    }
    .header{
        background-color: rgb(187, 180, 180);
        height: 12vh;
        width:100%;
        margin-bottom: 12px;
    }
    .red{
        background-color:red;
        height: 35vh;
        width: 50%;
    }
    .orange{
        background-color: orange;
        height: 35vh;
        width: 50%;
    }
    .yellow{
        background-color: yellow;
        height: 70vh;
        width: 50%;
        align-self: flex-end;
        margin-top: -70vh;
    }
    .footer{
        background-color: rgb(187, 180, 180);
        height: 12vh;
        width:100%;
        margin-top: 12px;
    }
}
@media (max-width:576px){
    .header{
        background-color: rgb(187, 180, 180);
        height: 8vh;
        width:100%;
        margin-bottom: 12px;
    }
    .red{
        background-color:reed;
        height: 26vh;
        width: 100%;
    }
    .orange{
        background-color: orange;
        height: 26vh;
        width: 100%;
    }
    .yellow{
        background-color: yellow;
        height: 26vh;
        width: 100%;
        margin-top: 0px;
    }
    .footer{ 
        background-color: rgb(187, 180, 180);
        height: 8vh;
        width:100%;
        margin-top: 12px;
    }
}