.main{
    display: flex;
    flex-flow: row wrap;
    font-family:'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
}
.header{
    height: 7vh;
    width:100%;
    background-color: rgb(209, 200, 200);
    margin-bottom: 2vh;
}
.a{
    background-color: rgb(47, 201, 47);
    height: 75vh;
    width:50%;
    order:2;

}
.b{
    background-color: rgb(49, 155, 49);
    height: 75vh;
    width:25%;
    order: 1;
}
.c{
    background-color: yellow;
    height: 75vh;
    width: 25%;
    order: 3;
}
.footer{
    height: 9vh;
    width: 100%;
    background-color: rgb(209, 200, 200);
    margin-top: 5vh;
    order: 4;
}

@media (min-width:576px) and (max-width:768px){
    .header{
        height: 6vh;
        width:100%;
        background-color: rgb(209, 200, 200);
        margin-bottom: 1.5vh;
    }
    .a{
        background-color: rgb(47, 201, 47);
        height: 42vh;
        width:100%;
        order: 1
    }
    .b{
        background-color: rgb(49, 155, 49);
        height: 40vh;
        width:50%;

    }
    .c{
        background-color: yellow;
        height: 40vh;
        width: 50%;
    }
    .footer{
        height: 6vh;
        width: 100%;
        background-color: rgb(209, 200, 200);
        margin-top: 3vh;
    }
}
@media (max-width:576px) {
    .header{
        height: 6vh;
        width:100%;
        background-color: rgb(209, 200, 200);
        margin-bottom: 1.5vh;
    }
    .a{
        background-color: rgb(47, 201, 47);
        height: 36vh;
        width:100%;
        order: 1
    }
    .b{
        background-color: rgb(49, 155, 49);
        height: 24vh;
        width:100%;
    }
    .c{
        background-color: yellow;
        height: 24vh;
        width: 100%;
    }
    .footer{
        height: 6vh;
        width: 100%;
        background-color: rgb(209, 200, 200);
        margin-top: 1.5vh;
    }
}